doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title デコモジコンジュゲーター
    meta(content="width=device-width", name="viewport")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese&display=swap"
    )
    link(rel="stylesheet", href="/style/index.css")
    script(src="/script/index.ts")

  body.Conjugator
    h1.VisuallyHidden デコモジコンジュゲーター

    header.Header
      .Header__inner
        a.Header__link.-invert(href="./")
          img.Header__logo(
            src="/image/logo.png",
            width="42",
            height="42",
            alt="デコモジコンジュゲーター"
          )
        p.Header__desc １つの単語から派生するデコモジ活用を自動生成するウェブアプリです。

    form#conjugator.Main
      h2.VisuallyHidden デコモジ活用選択
      .Type
        p.Type__label 活用タイプ
        .Type__item
          input#kosoado.Input.-selection(
            type="radio",
            name="type",
            value="0",
            checked
          )
          label.Label.-inline(for="kosoado") こそあど太郎
        .Type__item
          input#-oreneko.Input.-selection(type="radio", name="type", value="1")
          label.Label.-inline(for="-oreneko") 〜俺猫金夢
        .Type__item
          input#oreneko-.Input.-selection(type="radio", name="type", value="2")
          label.Label.-inline(for="oreneko-") 俺猫金夢〜
        .Type__item
          input#manual.Input.-selection(type="radio", name="type", value="3")
          label.Label.-inline(for="manual") マニュアル編集

      h2.VisuallyHidden デコモジ活用自動生成
      .Word
        label.Label(for="word") 単語
        input#word.Input(type="text", name="word", value="受託")
      .ConjugateWords
        label.Label(for="conjugateWords") デコモジ活用
        input#conjugateWords.Input(
          type="text",
          name="conjugateWords",
          value=""
        )
      .Reading
        label.Label(for="reading") 読み
        input#reading.Input(type="text", name="reading", value="zyutaku")
      .ConjugateReadings
        label.Label(for="conjugateReadings") 活用の読み
        input#conjugateReadings.Input(
          type="text",
          name="conjugateReadings",
          value=""
        )
      .DuplicationChecker
        input#duplicationChecker.Input.-selection(
          type="checkbox",
          name="duplicationChecker",
          checked
        )
        label.Label.-inline(for="duplicationChecker")
          | デコモジ本体（v
          span#decomojiVersion
          | ）との重複を取り除く
      .GeneratedContents
        label.Label(for="generatedContents") 生成したデコモジ活用
        textarea#generatedContents.Input.-textarea.-high(
          name="generatedContents",
          readonly
        )
      .GeneratedReadings
        label.Label(for="generatedReadings") 生成した活用の読み
        textarea#generatedReadings.Input.-textarea.-high(
          name="generatedReadings",
          readonly
        )
      .DuplicatedContents
        label.Label(for="duplicatedContents") 重複していた活用
        textarea#duplicatedContents.Input.-textarea.-low(
          name="duplicatedContents",
          readonly
        )
      .DuplicatedReadings
        label.Label(for="duplicatedReadings") 重複していた読み
        textarea#duplicatedReadings.Input.-textarea.-low(
          name="duplicatedReadings",
          readonly
        )

    footer.Footer
      .Footer__inner
        p.Footer__credit このウェブアプリは#[a.-invert(href="https://twitter.com/otiext", target="_blank", rel="noopener") 越智]が作りました。
        p.Footer__license #[a.-invert(href="https://github.com/decomoji/conjugator/", target="_blank", rel="noopener") GitHub], MIT License.
